In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [4]:
%matplotlib inline

Given what we've learned so far, let's tackle [this Kaggle competition](https://www.kaggle.com/c/titanic-gettingStarted).

----
Read the `titanic/train.csv` and get some info on it.

In [5]:
train = pd.read_csv("titanic/train.csv")
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.5+ KB

In [25]:
train.head(1)
train.Name.head(50)

0                               Braund, Mr. Owen Harris
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
11                             Bonnell, Miss. Elizabeth
12                       Saundercock, Mr. William Henry
13                          Andersson, Mr. Anders Johan
14                 Vestrom, Miss. Hulda Amanda Adolfina
15                     Hewlett, Mrs. (Mary D Kingcome)
16                                 Rice, Master. Eugene
17                         Williams, Mr. Charles Eugene
18    Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                              Masselmani, Mrs. Fatima
20                                 Fynney, Mr. Joseph J
21                                Beesley, Mr. Lawrence
22                          McGowan, Miss. Anna "Annie"
23                         Sloper, Mr. William Thompson
24                        Palsson, Miss. Torborg Danira
25    Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                              Emir, Mr. Farred Chehab
27                       Fortune, Mr. Charles Alexander
28                        O'Dwyer, Miss. Ellen "Nellie"
29                                  Todoroff, Mr. Lalio
30                             Uruchurtu, Don. Manuel E
31       Spencer, Mrs. William Augustus (Marie Eugenie)
32                             Glynn, Miss. Mary Agatha
33                                Wheadon, Mr. Edward H
34                              Meyer, Mr. Edgar Joseph
35                       Holverson, Mr. Alexander Oskar
36                                     Mamee, Mr. Hanna
37                             Cann, Mr. Ernest Charles
38                   Vander Planke, Miss. Augusta Maria
39                          Nicola-Yarred, Miss. Jamila
40       Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
41    Turpin, Mrs. William John Robert (Dorothy Ann ...
42                                  Kraeff, Mr. Theodor
43             Laroche, Miss. Simonne Marie Anne Andree
44                        Devaney, Miss. Margaret Delia
45                             Rogers, Mr. William John
46                                    Lennon, Mr. Denis
47                            O'Driscoll, Miss. Bridget
48                                  Samaan, Mr. Youssef
49        Arnold-Franchi, Mrs. Josef (Josefine Franchi)
Name: Name, dtype: object

In [88]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [89]:
train.Embarked.value_counts()
t = train[(train.Survived == 1) & (train.Sex == 'male')]

In [90]:
t = train[(train.Survived == 0) & (train.Embarked) & (train.Sex == 'female')]
t.Embarked.value_counts()

S    63
Q     9
C     9
dtype: int64

There's a marked difference in survival rates between men and women. Let's go ahead and enter the competition just using that as our metric.

We need to output a CSV with the following structure:

  - PassengerId
  - Survived (as 1(Yes) or 0(No))
  
Given our assumption, lets mark Females as 1 and Males as 0.

Read in `titanic/test.csv` - otherwise your life will suck.

Write this to a CSV and upload it to the kaggle competition.

<!---
test = pd.read_csv("titanic/test.csv")
test["Survived"] = 0
test.loc[test["Sex"] == "female", "Survived"] = 1
test = test[["PassengerId", "Survived"]]
test.to_csv("titanic/gendermodel.csv", index=False)
test
-->

In [91]:
f3 = pd.read_csv('titanic/test.csv')
f3['Survived'] = 0
f3.loc[f_3_embs['Sex'] == 'female', 'Survived'] = 1

In [92]:
f3.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1

In [93]:
# f3= f_3_embs[['PassengerId', 'Survived']]

In [94]:
# did not work... hmmm
#f3 = for item in f3.Embarked:
#    if item == 'S':
#        if item in f3.Sex == 'female':
#            if item in f3.Pclass == 3:
#                f3.Embarked = 0
#    else:
#        pass''''''

In [95]:
f3 = f3[(f3.Pclass == 3) & (f3.Sex == 'female') & (f3.Embarked == 'S')]

In [96]:
f3.Survived.value_counts()

1    41
dtype: int64

In [103]:
f3.to_csv("titanic/f_3_embs.csv", index=False)